USE [master]
GO
/****** Object:  Database [StudentBites]    Script Date: 16/5/2023 19:52:19 ******/
CREATE DATABASE [StudentBites]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlmuerzOrt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AlmuerzOrt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlmuerzOrt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AlmuerzOrt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentBites].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentBites]
GO
/****** Object:  Table [dbo].[ComidaxLocal]    Script Date: 16/5/2023 19:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComidaxLocal](
	[ComidaID] [int] NOT NULL,
	[LocalID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imagenes]    Script Date: 16/5/2023 19:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imagenes](
	[LocalID] [int] NOT NULL,
	[Imagen] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locales]    Script Date: 16/5/2023 19:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locales](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Calificacion] [int] NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Contacto] [varchar](50) NULL,
	[Precio] [int] NOT NULL,
	[Poblacion] [varchar](50) NOT NULL,
	[Tardanza] [varchar](50) NOT NULL,
	[PedirPorAdelantado] [bit] NOT NULL,
 CONSTRAINT [PK_Locales] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reseñas]    Script Date: 16/5/2023 19:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reseñas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[LocalID] [int] NOT NULL,
	[Imagen] [varchar](50) NOT NULL,
	[Calificacion] [int] NOT NULL,
	[ComidaID] [int] NOT NULL,
	[Precio] [int] NOT NULL,
	[Tardanza] [int] NOT NULL,
	[Poblacion] [varchar](50) NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Reseñas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDeComida]    Script Date: 16/5/2023 19:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDeComida](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Comida] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoDeComida] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 16/5/2023 19:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Foto] [varchar](max) NOT NULL,
	[isBanned] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ComidaxLocal] ([ComidaID], [LocalID]) VALUES (3, 1)
INSERT [dbo].[ComidaxLocal] ([ComidaID], [LocalID]) VALUES (5, 2)
INSERT [dbo].[ComidaxLocal] ([ComidaID], [LocalID]) VALUES (7, 2)
GO
INSERT [dbo].[Imagenes] ([LocalID], [Imagen]) VALUES (1, N'chinojorge1.jpg')
INSERT [dbo].[Imagenes] ([LocalID], [Imagen]) VALUES (1, N'chinojorge2.jpg')
INSERT [dbo].[Imagenes] ([LocalID], [Imagen]) VALUES (1, N'chinojorge3.jpg')
GO
SET IDENTITY_INSERT [dbo].[Locales] ON 

INSERT [dbo].[Locales] ([ID], [Nombre], [Calificacion], [Direccion], [Contacto], [Precio], [Poblacion], [Tardanza], [PedirPorAdelantado]) VALUES (1, N'Kwom Yuen Rotisería China
', 9, N'Yatay 213', N'01149587733', 700, N'Media', N'Media', 0)
INSERT [dbo].[Locales] ([ID], [Nombre], [Calificacion], [Direccion], [Contacto], [Precio], [Poblacion], [Tardanza], [PedirPorAdelantado]) VALUES (2, N'Cri Cri', 6, N'Av. Díaz Vélez 4401', NULL, 800, N'Baja', N'Baja', 0)
INSERT [dbo].[Locales] ([ID], [Nombre], [Calificacion], [Direccion], [Contacto], [Precio], [Poblacion], [Tardanza], [PedirPorAdelantado]) VALUES (3, N'Green Deli', 8, N'Av. Díaz Vélez 4501', NULL, 1000, N'Muy alta', N'Alta', 0)
SET IDENTITY_INSERT [dbo].[Locales] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoDeComida] ON 

INSERT [dbo].[TipoDeComida] ([ID], [Comida]) VALUES (3, N'Comida china')
INSERT [dbo].[TipoDeComida] ([ID], [Comida]) VALUES (4, N'Pizza')
INSERT [dbo].[TipoDeComida] ([ID], [Comida]) VALUES (5, N'Empanada')
SET IDENTITY_INSERT [dbo].[TipoDeComida] OFF
GO
ALTER TABLE [dbo].[ComidaxLocal]  WITH CHECK ADD  CONSTRAINT [FK_ComidaxLocal_Locales] FOREIGN KEY([LocalID])
REFERENCES [dbo].[Locales] ([ID])
GO
ALTER TABLE [dbo].[ComidaxLocal] CHECK CONSTRAINT [FK_ComidaxLocal_Locales]
GO
ALTER TABLE [dbo].[ComidaxLocal]  WITH CHECK ADD  CONSTRAINT [FK_ComidaxLocal_TipoDeComida] FOREIGN KEY([ComidaID])
REFERENCES [dbo].[TipoDeComida] ([ID])
GO
ALTER TABLE [dbo].[ComidaxLocal] CHECK CONSTRAINT [FK_ComidaxLocal_TipoDeComida]
GO
ALTER TABLE [dbo].[Imagenes]  WITH CHECK ADD  CONSTRAINT [FK_Imagenes_Locales] FOREIGN KEY([LocalID])
REFERENCES [dbo].[Locales] ([ID])
GO
ALTER TABLE [dbo].[Imagenes] CHECK CONSTRAINT [FK_Imagenes_Locales]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Reseñas_Locales] FOREIGN KEY([LocalID])
REFERENCES [dbo].[Locales] ([ID])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Reseñas_Locales]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Reseñas_TipoDeComida] FOREIGN KEY([ComidaID])
REFERENCES [dbo].[TipoDeComida] ([ID])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Reseñas_TipoDeComida]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Reseñas_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Reseñas_Usuario]
GO
USE [master]
GO
