.logo {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 25%;
}
.formulario {
    margin-top:5%;
    margin-left:10%;
    margin-right: 10%;
}
.boton {
    margin-top: 5%;
}
.link {
    position: absolute;
    left: 0;
    bottom: 0;
}