.reviewLocal-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: row; /* Coloca la imagen y el texto en una fila */
  align-items: flex-start; /* Alinea verticalmente la imagen y el texto en la parte superior */
}

h1
{
  font-size: 2.5rem;
}
.user-profile {
  flex-shrink: 0; /* Evita que la imagen de perfil se estire */
  margin-right: 10px; /* Agrega espacio entre la imagen y el texto */
}

.reviewLocal-content {
  display: flex;
  flex-direction: column; /* Coloca el ícono de corazón y el rating en columna debajo del texto */
}


.reviewLocal-text {
  overflow-y: auto; /* Agrega desplazamiento vertical si el texto es largo */
  word-wrap: break-word; /* Divide las palabras en caso de overflow */
}

  
  .user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .likes {
  display: flex;
  align-items: center; /* Alinea el ícono de corazón y el rating horizontalmente */
  }

  .like-button {
  background: none;
  border: none;
  cursor: pointer;
  }
  
  .like-button .liked-icon {
    color: red; /* Cambia el color a rojo cuando se da like */
  }
  
  .like-button .unliked-icon {
    color: #000; /* Cambia el color a negro cuando no se ha dado like */
  }


  .full-width-image {
    width: 100%;
    object-fit: cover; /* Esto ajusta la imagen para cubrir completamente el contenedor manteniendo la relación de aspecto */
    height: 25%; /* Ajusta automáticamente la altura para mantener la relación de aspecto original */
    margin-bottom: 0.5rem;
  }
.rating
{
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.custom-text
{
  font-size: medium;
  background-color: rgb(199, 199, 199);
}

.centered-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espacio entre los botones */
}

.button-large {
  font-size: x-large; /* Tamaño del texto de los botones */
  padding: 0.5rem 2rem; /* Espaciado interno de los botones */
}
