.sliderContainer {
  padding: 0%;
}

.card {
  position: relative;
  background-color: black;
  border-radius: 5%;
  overflow: hidden;
  margin: 5%;
  color: whitesmoke;
}
.card img {
  max-width: 100%;
  height: 100%;
}
.card ::content{
  margin: 0%;
}

.overlay {
  position: absolute;
  bottom: 0; /* Coloca el rectángulo en la parte inferior */
  left: 0;
  width: 100%;
  height: 50px; /* Altura del rectángulo */
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del rectángulo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.local-name {
  color: white;
  font-size: 25px;
}